.task-container{
    position: relative;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.task-win-container{
    flex: 1;
}
.task-win-group{
    display: flex;
    height: 100%;
    align-items: center;
}
.task-win-group .btn-group>div{
    left: 0;                
    width: 100%;
}
.task-win-group .btn-group{
   position: relative;
}
.task-win-group>figure{
    
    height: 100%;
    padding: 5px;
}
.task-win-group .btn-task:hover{
    cursor:default;
    background: rgb(50, 50, 50)
}
.task-win-group .mini-icon{
    display: inline-block;

}
.task-win-group .d-md-iblock{
    display: inline-block;
    position: relative;
    top: -10px;
}
.task-win-group div[data-sub-group]{
    position: absolute;
    bottom: 40px;
}
.task-win-group .btn-task{
    background: rgb(7,13,19)
}

    .start-menu{
        display: none;
        flex-direction: row;
        top: -525px;
        position: absolute;
    }
    .start-menu.show{
        display: flex;
    }
    .sub-item-list ul{
        overflow: hidden;
        padding-left: 10px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background: rgba(68, 68, 68, 0.5);
    }
    .sub-item-list .ul-before{
        padding-left: 10px;
        font-size:15px;
        line-height: 40px;
        color: white;
        position: absolute;
        top: -40px;
        width: 669px;
        height: 40px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background: rgba(68, 68, 68, 0.5);
    }
    
    .sub-item-list li{
       display: flex;
       align-items: center;
        width: 250px;
        height: 35px;
        padding: 1.5px;
        padding-top: 20px;
        transition: padding-top 0.2s ease;
        
    }
    .sub-item-list span{
        cursor: default;
    }
    .sub-item-list li.show{
        padding-top: 0px;
    }
    .sub-item-list li:hover{
        background-color: rgb(109, 109, 109)
    }
    .sub-item-list li div{
        padding: 6px;
        background: rgb(0, 120, 215);
        height:32px;
        width: 32px;
        
    }
    .sub-item-list li span{
        
        color: white;
        font-size: 15px; 
        margin-left: 10px;
        line-height: 30px;  
    }
    
    .startbtn{
        padding: 10px;
        width: 40px;
        height: 100%;
        
    }
    
    .startbtn>div{
        background: url(../assets/task/windows.png);
        height: 100%;
        width: 100%;
        background-position: center center;
        background-size: 100% 100%;
    }
    .startbtn>div:hover{
        background: url(../assets/task/windows-hover.png);
        background-position: center center;
        background-size: 100% 100%;
    }
    
    .main-item-list{
        border-left: 1px solid rgb(109, 109, 109);
        padding-top: 20px;
        width: 409px;
        height: 525px;
        background: rgb(68, 68, 68);
        display: flex;
        flex-direction: column;
        transition: padding-top 0.2s ease;
    }
    .main-item-list.show{
        padding-top:0px;
    }
     .block1,.block2{
         border-bottom: 2px solid black;
     }
    .btn-text{
        color: white;
        font-size: 13px;
    }

.system-manager .content{
    background: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 580px;
    padding: 10px;
}
.system-manager .content .row{
    display: flex;
}
.system-manager .content .row .close{
   width: 100%;
   height: 100%;
   line-height: 1.5em;
}
.system-manager .content .row .cell{
    position: relative;
    padding: 2px 0;
}
.system-manager .content .row .cell>span{
    vertical-align: bottom;
}
.system-manager .content .row:not(:nth-child(1)):hover{
    cursor: default;
    background:  rgb(229, 243, 255); 
}
.system-manager .content .row:not(:nth-child(1)) .right{
    position: absolute;
    right:5px; 
}
.system-manager .content .row:not(:nth-child(1)) .info{
    background: rgb(255, 249, 228)
    
}
.system-manager .content .row:nth-child(1){
    height: 40px; 
}
.system-manager .content .row:nth-child(1) .cell:hover{
    cursor: default;
    background:  rgb(229, 243, 255);
}
.system-manager .content .row:nth-child(1) .left{
    bottom: 1px;
    left: 5px;
    position: absolute;
}
.system-manager .content .row:nth-child(1) .right{
    bottom: 1px;
    right: 5px;
    position: absolute;
}
.system-manager .content .row{
    height: 25px;
    
}
.system-manager .content .row{
   border-bottom: 1px solid lightgray;
   
}



#clock{
    line-height: 40px;
    cursor: default;
    
    
}
#clock:hover{
    background: rgb(68, 68, 68)
}

#clock:before{
    
    transition: opacity 0.2s ease;
}
#clock:hover:before{
    
    background: white;
    line-height: 30px;
    right: 0;
    color: black;
    
    height: 30px;
    position: absolute;
    bottom: 40px;
    content: attr(data-date)
}

